@use 'partials/dashboard.scss';
@use 'partials/plate-index.scss';
@use 'partials/navbar.scss';


@import '~bootstrap/scss/bootstrap';


body{
    font-family:  "Rubik", sans-serif;
  
}



.bg_orange {
    background-color: rgb(255, 157, 0);
    
}

.bg_orange-dark {
    background-color: rgb(255, 117, 69);
    
}


