@use "partials/dashboard.scss";
@use "partials/plate-index.scss";
@use "partials/navbarDashboard.scss";
@use "partials/not-found.scss";
@use "partials/navbar.scss";

@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Rubik", sans-serif;
    color: #212529;
    height: 100vh;
}

.bg_orange {
    background-color: rgb(255, 157, 0);
}

.bg_orange-dark {
    background-color: rgb(255, 117, 69);
}

.bg_dark {
    background-color: rgb(255, 64, 0);
}

.row_app{
    height: 100vh;
    width: 100vw;
}

.container_main{
    height: 100vh;
    overflow: auto; 
}

::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    box-shadow: inset 0 0 5px rgba(195, 195, 195, 0.16); 
    border-radius: 20px;
  }
 

  