.dashboard{
   
    .card{
        padding: 0 !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn{
        color: white;
    }
    .btn_yellow{
        background-color:rgb(255, 157, 0) ;
        transition: 0.4s;
        &:hover{
            background-color:rgb(234, 154, 25) ;
        }
    }
    .btn_orange{
        background-color: rgb(255, 117, 69);
        transition: 0.4s;
        &:hover{
            background-color:rgb(234, 88, 39) ;
        }
    }
}
