.dashboard {
    height: 100vh;
    overflow: auto;
  overflow-x: hidden;
    &  .container-fluid {
        &  .card {
            padding: 0 !important;
            

            & .img {
                object-fit: cover;
            }
        }

        & .card{
            &  a{
                
                background-color:rgb(255, 117, 69) ;
                
            }
        }

       

        
    }






}