.container.not-found{
     .four{
          font-size: 500px;  
          color: #896127;
     }

     .nofound_img{
          width: 350px;
     }

     .text_nofound{
          font-size: 45px;  
          color: #896127;margin-top:-120px;
     }
     .btn_nofound{
          background-color: #896127;
          color: white;
     }
}